<div class="col-10" id="error_holder_staffs_new">
  <%= render('shared/errors', model: @staff) %>
</div>

<%= form_with(model: @staff, html: { autoComplete: :on }) do |staff_form| %>
  <table class="table borderless">
    <tbody>
    <tr>
      <td colspan="2">
        <%# Get the attributes that belong to the person class %>
        <%= staff_form.fields_for(:person) do |person_fields| %>
          <%= render('shared/personal_detail_fields', person_fields: person_fields, disabled: false) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="width: 50%; !important;">
        <fieldset class="none-bs-fieldset">
          <legend class="none-bs-legend">Account Details</legend>
          <table class="table borderless">
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= staff_form.label(:userId, 'User ID') %><br/>
                  <%= staff_form.text_field(:userId, autocomplete: 'off', required: true, class: 'form-control', disabled: (true if action_name == 'edit'), readOnly: (true if action_name == 'edit')) %>
                </div>
                <div class="form-group">
                  <%= staff_form.label(:email) %><br/>
                  <%= staff_form.email_field(:email, pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$", required: true, class: 'form-control') %>
                </div>
                <div class="form-group">
                  <%= staff_form.label(:password) %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <%= staff_form.password_field(:password, required: (true unless action_name == 'edit'), class: 'form-control') %>
                </div>
              </td>
              <!--Override bootstrap td specifically here-->
              <td style="vertical-align: bottom; !important;">
                <div class="form-group">
                  <%= staff_form.label(:password_confirmation, 'Password confirmation') %><br/>
                  <%= staff_form.password_field(:password_confirmation, required: (true unless action_name == 'edit'), class: 'form-control') %>
                </div>
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
      <td>
        <fieldset class="none-bs-fieldset">
          <legend class="none-bs-legend">Allocations</legend>
          <!--TODO finish this-->
          <table class="table borderless">
            <tbody>
            <tr>
              <%= staff_form.fields_for(:specialisms) do |specialism_fields| %>
                <td>
                  <div class="form-group">
                    <%= specialism_fields.label(:speciality_id, 'Speciality') %><br/>
                    <%= specialism_fields.select(:speciality_id, specialities_option, { include_blank: 'Select Speciality' }, required: true, class: 'form-control',
                                                 disabled: (true if action_name == 'edit'), readOnly: (true if action_name == 'edit')) %>
                  </div>
                </td>
              <% end %>
              <%= staff_form.fields_for(:jobs) do |job_fields| %>
                <td>
                  <div class="form-group">
                    <%= job_fields.label(:job_title_id, 'Job title') %><br/>
                    <%= job_fields.select(:job_title_id, job_titles_option, { include_blank: 'Select Job Title' }, required: true, class: 'form-control',
                                          disabled: (true if action_name == 'edit'), readOnly: (true if action_name == 'edit')) %>
                  </div>
                </td>
              <% end %>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <%= staff_form.label(:team_id) %><br/>
                  <%= staff_form.select(:team_id, teams_option, { include_blank: 'Select Team' }, required: true, class: 'form-control',
                                        disabled: (true if action_name == 'edit'), readOnly: (true if action_name == 'edit')) %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="actions form-group">
    <table class="table borderless">
      <tbody>
      <tr>
        <td>  <%= staff_form.submit({ class: 'btn btn-primary' }) %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>
