<% @page_title = 'Staff | Profile' %>

<% if @staff.id == current_staff.id %>
  <h1>Hi <%= person_full_name_helper(@staff) %> </h1>
<% else %>
  <h1>Staff: <%= person_full_name_helper(@staff) %> </h1>
<% end %>

<br/>
<div class="row">
  <div class="col-1">
    <div class="btn-group mr-auto">
      <% disable_btn_export = @staff.nil? || @staff&.blank? ? 'disabled' : '' %>
      <%= link_to('Print', '#', onClick: "printJS({ printable: 'staff_holder', type: 'html', header: 'Staff - #{localize(Date.today, format: :custom).to_s}', ignoreElements:['action']})",
                  class: "btn btn-outline-secondary #{disable_btn_export}") %>
    </div>
  </div>
</div>
<br/>

<div id="staff_holder">
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>ID No</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Home Telephone No</th>
    <th>Mobile Telephone No</th>
    <th>Register Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @staff.id %></td>
    <td><%= localize(@staff.person.dateOfBirth) %></td>
    <td><%= @staff.person.gender %></td>
    <%#	 binding.pry %>
    <td><%= @staff.person.full_address %></td>
    <td><%= @staff.person.telHomeNo %></td>
    <td><%= @staff.person.telMobileNo %></td>
    <td><%= localize(@staff.created_at.to_date) %></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<h4>Specialism</h4>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Speciality</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @staff.specialisms.each do |specialism| %>
    <tr>
      <td><%= specialism.speciality.speciality %></td>
      <td><%= localize(specialism.created_at.to_date) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<br>
<h4>Job Title</h4>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Title</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @staff.jobs.each do |job| %>
    <tr>
      <td><%= job.job_title.title %></td>
      <td><%= localize(job.created_at.to_date) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<% content_for(:navigationButtons) do %>
  <% session[:staffs_show_back_url] = request.referrer if session[:staffs_show_back_url].nil? %>
  <%# Staff can only view their profile, therefore otherwise redirect to home when referrer is not available %>
  <%= link_to('Back', session[:staffs_show_back_url] || home_path, class: 'btn btn-secondary') %>
  &nbsp;
  <%= link_to('Edit', edit_staff_path(@staff), class: 'btn btn-secondary') if policy(:staff).update? %>
<% end %>

