<% @page_title = 'Teams' %>

<h1>Teams</h1>

<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Head</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.head %></td>
      <td><%= link_to 'View', team, class: 'btn btn-secondary' %></td>
      <td><%= link_to 'Edit', edit_team_path(team), class: 'btn btn-secondary' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% content_for(:navigationButtons) do %>
  <%= link_to('New Team', new_team_path, class: 'btn btn-primary') %>
<% end %>