<h1 class="title-container">Notes</h1>
<table class="table table-bordered table-striped" id="notes_holder_index">
  <thead class="thead-light">
  <tr>
    <th>Note Date</th>
    <th>Note No</th>
    <th>Patient Name</th>
    <th>Issued By</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @treatments&.each do |treatment| %>
    <% patient = treatment.patient %>
    <% staff = Staff.find_by(userId: treatment.issuedBy) %>
    <tr>
      <td><%= localize(treatment.date) %> </td>
      <td><%= treatment.id %></td>
      <td><%= person_full_name_helper(patient) if patient %></td>
      <td><%= person_full_name_helper(staff) if staff %></td>
      <td>
        <%= link_to('View', treatment_path(treatment.id), role: 'button', class: 'btn btn-secondary') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<% content_for(:navigationButtons) do %>
  <%= link_to 'Make Note', new_treatment_path, class: 'btn btn-primary' %>
  <%= button_tag('Print', onClick: "printJS({printable: 'notes_holder_index', type: 'html', header: 'Notes - #{localize(Date.today).to_s}'})", class:'btn btn-secondary') %>
<% end %>