<h1 class="title-container">Notes</h1>
<% @page_title = 'Notes' %>
<br/>
<div class="row">
  <div class="col-1">
    <div class="btn-group mr-auto">
      <% disable_btn_export = @treatments.nil? || @treatments&.empty? ? 'disabled' : '' %>
      <%= link_to('Print', '#', onClick: "printJS({ printable: 'notes_holder_index', type: 'html', header: 'Notes - #{localize(Date.today, format: :custom).to_s}', ignoreElements:['action']})",
                  class: "btn btn-outline-secondary #{disable_btn_export}") %>
      <%#link_to('Export as Excel', admissions_path(format: :xlsx), { class: "btn btn-outline-secondary form-control #{disable_btn_export}",
                                                                       role: 'button' }) %>
    </div>
  </div>
</div>
<br/>

<table class="table table-bordered table-striped" id="notes_holder_index">
  <thead class="thead-light">
  <tr>
    <th>Note Date</th>
    <th>Note No</th>
    <th>Patient Name</th>
    <th>Issued By</th>
    <th id="action">Action</th>
  </tr>
  </thead>
  <tbody>
  <% if @treatments && !@treatments&.empty? %>
    <% @treatments&.each do |treatment| %>
      <% patient = treatment.patient %>
      <% staff = Staff.find_by(userId: treatment.issuedBy) %>
      <tr>
        <td><%= localize(treatment.date) %> </td>
        <td><%= treatment.id %></td>
        <td><%= person_full_name_helper(patient) if patient %></td>
        <td><%= person_full_name_helper(staff) if staff %></td>
        <td id="action">
          <%= link_to('View', treatment_path(treatment.id), role: 'button', class: 'btn btn-secondary') %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5"><p>No notes found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>


<% content_for(:navigationButtons) do %>
  <%= link_to('Make Note', new_treatment_path, class: 'btn btn-primary') if policy(:treatment).new? %>
<% end %>