<h1 class="title-container">Treatments</h1>
<table class="table">
  <thead>
  <tr>
    <th>Treatment Date</th>
    <th>Treatment No</th>
    <th>Patient Name</th>
    <th>Issued By</th>
    <th>Ward Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @treatments&.each do |treatment| %>
    <% patient = Patient.find(treatment.patient_id) %>
    <% staff = Staff.find_by(userId: treatment.issuedBy) %>
    <% ward = Ward.find(patient.admissions.find_by(status: 'Admitted').ward_id) %>
    <tr>
      <td>
        <%= localize(treatment.date) %>
      </td>
      <td>
        <%= treatment.id %>
      </td>
      <td>
        <%= patient.person.firstName + ' ' + patient.person.lastName %>
      </td>
      <td>
        <%= staff.person.firstName + ' ' + staff.person.lastName %>
      </td>
      <td>
        <%= ward.name %>
      </td>
      <td>
        <%= link_to('View', treatment_path(treatment.id)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>