<% patient = @treatment.patient %>
<h1 class="title-container">Note for <%= (person_full_name_helper(patient) if patient) %></h1>
<table class="table table-bordered table-striped " id="note_holder">
  <thead class="thead-light">
  <tr>
    <th>Note Date</th>
    <th>Note No</th>
    <th>Issued By</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= localize(@treatment.date) %>
    </td>
    <td>
      <%= @treatment.id %>
    </td>
    <td>
      <%= person_full_name_helper(Staff.find_by(userId: @treatment.issuedBy)) %>
    </td>
    <td>
      <%= link_to('Edit', edit_treatment_path(@treatment.id), role: 'button', class: 'btn btn-secondary') %>
    </td>
    <td>
      <%= link_to('Delete', treatment_path(@treatment.id), method: :delete, data: { confirm: "Should this treatment no. #{@treatment.id} be deleted?" }, role: 'button', class: 'btn btn-secondary') %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
  </tr>
  <tr>
    <td><p><%= @treatment.note %></p></td>
  </tr>
  </tbody>
</table>

<%= content_for(:navigationButtons) do %>
  <%= link_to('Back', treatments_path, role: 'button', class: 'btn btn-primary') %>
  <%= button_tag('Print', onClick: "printJS({printable: 'note_holder', type: 'html', header: 'Note for #{(person_full_name_helper(patient) if patient) + ', ' + localize(Date.today).to_s}'})", class: 'btn btn-secondary') %>
<% end %>