<% patient = Patient.find(@treatment.patient_id) %>
<% staff = Staff.find_by(userId: @treatment.issuedBy) %>
<h1 class="title-container">Treatment For <%= patient.person.firstName + ' ' + patient.person.lastName %></h1>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Treatment Date</th>
    <th>Treatment No</th>
    <th>Issued By</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>
      <%= localize(@treatment.date) %>
    </td>
    <td>
      <%= @treatment.id %>
    </td>
    <td>
      <%= staff.person.firstName + ' ' + staff.person.lastName %>
    </td>
    <td>
      <%= link_to('Edit', edit_treatment_path(@treatment.id), role: 'button', class: 'btn btn-secondary') %>
      <%= link_to('Delete', treatment_path(@treatment.id), method: :delete, data: { confirm: "Should this treatment no. #{@treatment.id} be deleted?"}, role: 'button', class: 'btn btn-secondary') %>
    </td>
  </tr>
  <tr>
    <th>Notes</th>
  </tr>
  <tr>
    <td><p><%= @treatment.note %></p></td>
  </tr>
  </tbody>
</table>

<%= content_for(:navigationButtons) do %>
  <%= link_to('Back', treatments_path, role: 'button', class: 'btn btn-primary') %>
<% end %>