<h1 class="title-container">Register New Staff</h1>
<% @page_title = 'Register New Staff' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autoComplete: :on}) do |staff_form| %>
  <%= devise_error_messages! %>
  <table class="table">
    <tbody>
    <tr>
      <td>
        <%# Get the attributes that belong to the person class %>
        <%= staff_form.fields_for(:person) do |person_fields| %>
          <fieldset>
            <legend>Personal Details</legend>
            <table class="table">
              <tbody>
              <tr>
                <td>
                  <div class="form-group">
                    <%= person_fields.label(:firstName, 'First name') %><br/>
                    <%= person_fields.text_field(:firstName, html_options: {autofocus: true, autocomplete: 'firstName'}) %>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= person_fields.label(:lastName, 'Last name') %><br/>
                    <%= person_fields.text_field(:lastName, autocomplete: 'lastName') %>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= person_fields.label(:dateOfBirth, 'Date of birth') %><br/>
                    <%= person_fields.text_field(:dateOfBirth, type: 'date', html_options: {autocomplete: 'dateOfBirth', date_separator: "</div><div class='small-4 columns'>"}) %>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= person_fields.label(:gender) %><br/>
                    <%= person_fields.select(:gender, options_for_select([:Male, :Female], ''), autocomplete: 'lastName') %>
                  </div>
                </td>
              </tr>
              <tr>
                <%= person_fields.fields_for(:address) do |address_fields| %>
                  <td>
                    <div class="form-group">
                      <%= address_fields.label(:houseNumber, 'House number') %><br/>
                      <%= address_fields.text_field(:houseNumber, type: 'number', autocomplete: 'houseNumber') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= address_fields.label :street %><br/>
                      <%= address_fields.text_field :street, autocomplete: 'street' %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= address_fields.label(:town) %><br/>
                      <%= address_fields.text_field(:town, autocomplete: 'town') %>

                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= address_fields.label(:postcode) %><br/>
                      <%= address_fields.text_field(:postcode, autocomplete: 'postcode') %>
                    </div>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <%= person_fields.label(:telHomeNo, 'Telephone number') %><br/>
                    <%= person_fields.text_field(:telHomeNo, type: 'number', autocomplete: 'telephoneNumber') %>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= person_fields.label(:telMobileNo, 'Mobile number') %><br/>
                    <%= person_fields.text_field(:telMobileNo, type: 'number', autocomplete: 'mobileNumber') %>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </fieldset>
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="width: 50%; !important;">
        <fieldset>
          <legend>Account Details</legend>
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= staff_form.label(:userId, 'User ID') %><br/>
                  <%= staff_form.text_field(:userId, autocomplete: 'off') %>
                </div>
                <div class="form-group">
                  <%= staff_form.label(:email) %><br/>
                  <%= staff_form.email_field(:email, autocomplete: 'email') %>
                </div>
                <div class="form-group">
                  <%= staff_form.label(:password) %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <%= staff_form.password_field(:password, autocomplete: 'password') %>
                </div>
              </td>
              <!--Override bootstrap td specifically here-->
              <td style="vertical-align: bottom; !important;">
                <div class="form-group">
                  <%= staff_form.label(:password_confirmation, 'Password confirmation') %><br/>
                  <%= staff_form.password_field(:password_confirmation, autocomplete: 'passwordConfirmation') %>
                </div>
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
      <td>
        <fieldset>
          <legend>Allocations</legend>
          <!--TODO finish this-->
          <table class="table">
            <tbody>
            <tr>
              <%= staff_form.fields_for(:specialism) do |specialism_fields| %>
                <td>
                  <div class="form-group">
                    <%= specialism_fields.label(:speciality_id, 'Speciality') %><br/>
                    <%= specialism_fields.select(:speciality_id, speciality_options, autocomplete: 'speciality') %>
                    <%= specialism_fields.button('Add', {class: 'btn btn-default'}) %>
                  </div>
                  <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<th>Speciality</th>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                      <!--<td></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                  <!--</table>-->
                </td>
              <% end %>
              <%= staff_form.fields_for(:job) do |job_fields| %>
                <td>
                  <div class="form-group">
                    <%= job_fields.label(:job_title_id, 'Job title') %><br/>
                    <%= job_fields.select(:job_title_id, job_title_options, autocomplete: 'jobTitle') %>
                  </div>
                  <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<th>Job Title</th>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                      <!--<td></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                  <!--</table>-->
                </td>
              <% end %>
            </tr>
              <tr>
                <td>
                  <div class="form-group">
                    <%= staff_form.label(:team_id) %><br/>
                    <%= staff_form.select(:team_id, team_options, autocomplete: 'team') %>
                  </div>
                </td>
              </tr>
              </tbody>
          </table>
        </fieldset>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="actions">
    <table class="table">
      <tbody>
      <tr>
        <td> <%= staff_form.submit('Cancel', {class: 'btn btn-default'}) %></td>
        <td>  <%= staff_form.submit('Register Staff', {class: 'btn btn-default'}) %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>
