<h1 class="title-container">Register New Staff</h1>
<% @page_title = 'Register New Staff' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autoComplete: :on}) do |f| %>
  <%= devise_error_messages! %>
  <table class="table">
    <tbody>
    <tr>
      <td>
        <fieldset>
          <legend>Personal Details</legend>
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:firstName, 'First name') %><br/>
                  <%= f.text_field(:firstName, autofocus: true, autocomplete: "firstName") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:lastName, 'Last name') %><br/>
                  <%= f.text_field(:lastName, autofocus: true, autocomplete: "lastName") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:dateOfBirth, 'Date of birth') %><br/>
                  <%= f.date_select(:dateOfBirth, autofocus: true, autocomplete: "dateOfBirth") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:gender) %><br/>
                  <%= f.select(:gender, options_for_select([:Male, :Female], ''), autofocus: true, autocomplete: "lastName") %>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:houseNumber, 'House number') %><br/>
                  <%= f.text_field(:houseNumber, autofocus: true, autocomplete: "houseNumber") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label :street %><br/>
                  <%= f.text_field :street, autofocus: true, autocomplete: "street" %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:town) %><br/>
                  <%= f.text_field(:town, autofocus: true, autocomplete: "town") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:postcode) %><br/>
                  <%= f.text_field(:postcode, autofocus: true, autocomplete: "postcode") %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:telNumber, 'Telephone number') %><br/>
                  <%= f.text_field(:telNumber, autofocus: true, autocomplete: "telephoneNumber") %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:mobileNumber, 'Mobile number') %><br/>
                  <%= f.text_field(:mobileNumber, autofocus: true, autocomplete: "mobileNumber") %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

        </fieldset>
      </td>
    </tr>
    <tr>
      <td style="width: 50%; !important;">
        <fieldset>
          <legend>Account Details</legend>
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:userId, 'User ID') %><br/>
                  <%= f.text_field(:userId, autofocus: true, autocomplete: "off") %>
                </div>
                <div class="form-group">
                  <%= f.label(:email) %><br/>
                  <%= f.email_field(:email, autofocus: true, autocomplete: "email") %>
                </div>
                <div class="form-group">
                  <%= f.label(:password) %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <%= f.password_field(:password, autocomplete: "password") %>
                </div>
              </td>
              <!--Override bootstrap td specifically here-->
              <td style="vertical-align: bottom; !important;">
                <div class="form-group">
                  <%= f.label(:passwordConfirmation, 'Password confirmation') %><br/>
                  <%= f.password_field(:passwordConfirmation, autocomplete: "passwordConfirmation") %>
                </div>
              </td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
      <td>
        <fieldset>
          <legend>Allocations</legend>
          <!--TODO finish this-->
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:speciality) %><br/>
                  <%# TODO remove all autocomplete %>
                  <%= f.select(:speciality, options_for_select(['fdfdgfgggggfgfgfg']), autofocus: true, autocomplete: "speciality") %>
                  <%= f.button("Add", {class: 'btn btn-default'}) %>
                </div>
                <table class="table">
                  <thead>
                  <th>Speciality</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td><%= %></td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <div class="form-group">
                  <%= f.label(:jobTitle, 'Job title') %><br/>
                  <%= f.select(:jobTitle, options_for_select(['fdfdgfgggggfgfgfg']), autofocus: true, autocomplete: "jobTitle") %>
                </div>
                <table class="table">
                  <thead>
                  <th>Job Title</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </td>
            <tr>
              <td>
                <div class="form-group">
                  <%= f.label(:team) %><br/>
                  <%= f.select(:team, options_for_select(['fdfdgfgggggfgfgfg']), autofocus: true, autocomplete: "team") %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="actions">
    <table class="table">
      <tbody>
      <tr>
        <td> <%= f.submit('Cancel', {class: 'btn btn-default'}) %></td>
        <td>  <%= f.submit('Register Staff', {class: 'btn btn-default'}) %></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>
