<script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>


<%= form_with(url: invoice_payments_path, method: :post, remote: request.xhr?, html: { id: 'payment-form', data: { modal: true } }) do %>
  <%= hidden_field_tag(:payment_method_nonce, nil, id: 'nonce') %>
  <%= hidden_field_tag(:admission_id, @admission.id, id: 'admission_id') %>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Invoice Number: <%= @admission.invoice.id %></label>
      </div>
      <div class="col">
        <label>Invoice Date: <%= localize(@admission.invoice.dateDue) %></label>
      </div>
      <div class="col">
        <label>Patient: <%= @admission.patient.person.firstName + ' ' + @admission.patient.person.lastName %></label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Invoice Amount: <%= number_to_currency(@admission.invoice.amount, unit: '£') %></label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="dropin-container"></div>
    <button id="submit-button" class="btn btn-primary form-control" type="submit">Pay</button>
  </div>
<% end %>

<script>
    var button = document.querySelector('#submit-button');
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: '<%= @client_token %>',
        container: '#dropin-container',
        paypal: {
            flow: 'checkout'

            // amount: '10.00',
            // currency: 'USD'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            button.addEventListener('click', function () {
                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }
                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    });
</script>