<% content_for(:modal_title, 'Make Payment') %>

<%= form_with(url: invoice_payments_path, method: :post, html: { id: 'payment-form', data: { modal: true } }) do %>
  <%= hidden_field_tag(:payment_method_nonce, id: 'nonce') %>
  <%= hidden_field_tag(:admission_id, @admission.id, id: 'admission_id') %>
  <div class="col-10" id="payment_error_holder">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Invoice Number: <%= @admission.invoice.id %></label>
      </div>
      <div class="col">
        <label>Invoice Date: <%= localize(@admission.invoice.dateDue) %></label>
      </div>
      <div class="col">
        <label>Patient: <%= person_full_name_helper(@admission.patient) %></label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Invoice Amount: <%= number_to_currency(@admission.invoice.amount, unit: '£') %></label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="dropin-container"></div>
    <button id="submit-button" class="btn btn-primary" type="submit">Pay Amount</button>
  </div>
<% end %>

<script>
    var button = document.querySelector('#submit-button');
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: '<%= @client_token %>',
        container: '#dropin-container',
        paypal: {
            flow: 'checkout',
            amount: "<%= @admission.invoice.amount %>",
            currency: 'GBP'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            // event.preventDefault();
            button.addEventListener('click', function () {
                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }
                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    });
</script>