<p id="notice"><%= notice %></p>

<h1>Invoices</h1>
<br>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Issue Date</th>
    <th>Date Due</th>
    <th>Payment Received</th>
    <th>Date Received</th>
    <th>Patient Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= localize(invoice.created_at.to_date) %></td>
      <td><%= localize(invoice.dateDue) %></td>
      <td><%= invoice.paymentReceived %></td>
      <td>
        <% if invoice.dateReceived %>
          <%= localize(invoice.dateReceived) %>
        <% else %>
          <p>--</p>
        <% end %>
      </td>
      <td><%= invoice.admission.patient.person.firstName + ' ' + invoice.admission.patient.person.lastName %></td>
      <td><%= link_to('View Details', invoice, class: 'btn btn-secondary') %></td>
    </tr>
  <% end %>
  </tbody>
</table>



<% content_for(:navigationButtons) do %>
  <%= link_to('New Invoice', new_invoice_path, class: 'btn btn-primary') %>
<% end %>