<h1>Invoices</h1>

<% @page_title = 'Invoices' %>

<br>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Issue Date</th>
    <th>Date Due</th>
    <th>Payment Received</th>
    <th>Date Received</th>
    <th>Patient Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% if @invoices || !@invoices&.empty? %>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= localize(invoice.created_at.to_date) %></td>
        <td><%= localize(invoice.dateDue) %></td>
        <td><%= invoice.paymentReceived %></td>
        <td>
          <% if invoice.dateReceived %>
            <%= localize(invoice.dateReceived) %>
          <% else %>
            <p>--</p>
          <% end %>
        </td>
        <td><%= person_full_name_helper(invoice.admission.patient) %></td>
        <td><%= link_to('View Details', invoice, class: 'btn btn-secondary') if policy(:invoice).show? %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6"><p>No invoices found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>



<% content_for(:navigationButtons) do %>
  <%= link_to('New Invoice', new_invoice_path, class: 'btn btn-primary') if policy(:invoice).new? %>
<% end %>