<% content_for :title, "Receive Payment for Invoice #{ @invoice.id }" %>
<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with(model: @invoice, url: set_payment_received_invoices_path, method: :post, html: { id: 'receive_payment_form', data: { modal: true } }) do |receive_payment_form| %>
        <%= hidden_field_tag(:id, @invoice.id) %>
        <div class="row">
          <div class="col">
            <%= receive_payment_form.label(:dateReceived) %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= receive_payment_form.text_field(:dateReceived, type: 'date', max: Date.today.to_s, min: @invoice.created_at.to_date.to_s, required: true, class: 'form-control') %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <%= receive_payment_form.submit('Set Received', class: 'btn btn-primary') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
