<% @invoice = invoice unless @invoice %>
<div class="container align-content-center">
  <div class="row mx-5 p-5">
    <div class="col">
      <%= render('invoice_template', invoice: @invoice) %>
      <div class="row">
        <div class="col offset-3">
          <div class="actions">
            <%#	 todo apply the request  %>
            <% content_for(:navigationButtons) do %>
              <% session[:invoices_show_back_url] = request.referrer || request.original_url if session[:invoices_show_back_url].nil? %>
              <%= link_to('Back', session[:back_for_invoices_show] || invoices_path, class: 'btn btn-secondary') %>
            <% end %>
            <% if @invoice.paymentReceived %>
              <div class="row">
                <div class="col">
                  <p>Date Received</p>
                </div>
                <div class="col">
                  <p><%= @invoice.dateReceived %></p>
                </div>
              </div>
            <% else %>
              <div class="col">
                <%= link_to('Receive Payment', receive_payment_invoice_path, data: { modal: true }, class: 'btn btn-primary', role: 'button') %>
              </div>
              <div class="col offset-1">
                <%= link_to('Pay now', new_invoice_payments_path, data: { modal: true }, class: 'btn btn-primary', role: 'button') %>
              </div>
              <div class="col offset-1">
                <%= button_tag('Print', onClick: "printJS({ printable: 'invoice_holder', type: 'html'})", class: 'btn btn-primary') %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>