<br>
<%= form_with(model: diagnosis, local: true) do |form| %>
  <div class="col-10" id="error_holder_diagnosis">
    <%= render('shared/errors', model: diagnosis) %>
  </div>

  <%= form.hidden_field(:admission_id, value: diagnosis&.admission_id || admission&.id) %>

  <div class="row">
    <div class="col-2 offset-1">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field(:title, id: :diagnose_title, class: 'form-control', required: true) %>
      </div>
    </div>
    <div class="col-3 offset-1">
      <div class="form-group">
        <%= form.label(:description) %>
        <%= form.text_area(:description, id: :diagnose_description, class: 'form-control', required: true) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-5">
      <div class="actions form-group">
        <%= form.submit(class: 'form-control btn btn-primary') %>
      </div>
    </div>
  </div>
<% end %>
