<h1>Diagnosiss</h1>

<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Patient Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @diagnoses.each do |diagnosis| %>
    <tr>
      <td><%= diagnosis.title %></td>
      <td><%= diagnosis.description %></td>
      <td><%= diagnosis.admission.patient.person.firstName + ' ' + diagnosis.admission.patient.person.lastName %></td>
      <td><%= link_to('Show', diagnosis, class: 'btn btn-secondary') %></td>
      <td><%= link_to('Edit', edit_diagnosis_path(diagnosis), class: 'btn btn-secondary') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for(:navigationButtons) do %>
  <%= link_to('New Diagnosis', new_diagnosis_path, class: 'btn btn-primary') %>
<% end %>