<h3>Diagnosis for <%= person_full_name_helper(@diagnosis.admission.patient) %></h3>
<br/>
<div class="row">
  <div class="col-1">
    <div class="btn-group mr-3">
      <%= button_tag('Print', onClick: "printJS({printable: 'diagnosis_holder', type: 'html', header: 'Diagnosis for #{person_full_name_helper(@diagnosis.admission.patient) + ' - ' + localize(Date.today).to_s}'})", class: 'btn btn-outline-secondary') %>
    </div>
  </div>
</div>
<br/>

<table class=" table table-bordered table-hover" id="diagnosis_holder">
  <thead class="thead-light">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= content_tag(:p, @diagnosis.title) %></td>
    <td><%= content_tag(:p, @diagnosis.description) %></td>
    <td><%= link_to('Edit', edit_diagnosis_path(@diagnosis), class: 'form-control btn btn-secondary') %></td>
  </tr>
  </tbody>
</table>

<br/>
<% content_for(:navigationButtons) do %>
  <%= link_to('Back', diagnoses_path, role: 'button', class: 'btn btn-secondary') %>
<% end %>