<%= render 'shared/errors', model: prescription %>
<%= form_with(model: prescription, validate: true) do |prescription_form| %>
  <%= prescription_form.hidden_field(:patient_id, value: patient.id) %>
  <%= prescription_form.hidden_field(:date, value: Date.today) %>
  <%= prescription_form.hidden_field(:issuedBy, value: current_staff.userId) %>
  <table class="table borderless">
    <tbody>
    <%= prescription_form.fields_for(:medications) do |medication_field| %>
      <tr class="drugs">
      <%= render('medication_fields', f: medication_field) %>
      </tr>
    <% end %>
    <tr>
      <td>
        <div class="form-group">
          <%= prescription_form.label(:dosage) %><br/>
          <%= prescription_form.text_area(:dosage, autocomplete: 'dosage', required: true) %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= prescription_form.label(:treatmentLength) %><br/>
          <%= prescription_form.text_field(:treatmentLength, type: 'number', autocomplete: 'treatmentLength', required: true) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= prescription_form.label(:date) %><br/>
          <%= prescription_form.label(:date, localize(Date.today)) %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= prescription_form.label(:issuedBy) %><br/>
          <%#	  TODO current will be changed during edit also, is this the preferred behavior? %>
          <%= prescription_form.label(:issuedBy, current_staff.person.firstName + ' ' + current_staff.person.lastName) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('Cancel', prescription, class: 'btn btn-secondary') %>
        <%= link_to_add_association('Add drug', prescription_form, :medications, class: 'btn btn-primary',
                                    data: { association_insertion_node: '.drugs', association_insertion_method: :after }) %>
      </td>
      <td>
        <div class="form-group">
          <%= prescription_form.submit(class: 'btn btn-primary') %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>