<h1 class="title-container">Prescriptions</h1>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Prescription Date</th>
    <th>Prescription No</th>
    <th>Patient Name</th>
    <th>Issued By</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @prescriptions&.each do |prescription| %>
    <% patient = Patient.find(prescription.patient_id) %>
    <% staff = Staff.find_by(userId: prescription.issuedBy) %>
    <tr>
      <td>
        <%= localize(prescription.date) %>
      </td>
      <td>
        <%= prescription.id %>
      </td>
      <td>
        <%= patient.person.firstName + ' ' + patient.person.lastName %>
      </td>
      <td>
        <%= staff.person.firstName + ' ' + staff.person.lastName %>
      </td>
      <td>
        <%= link_to('View', prescription_path(prescription.id), role: 'button', class: 'btn btn-primary') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>