<h1 class="title-container">Prescriptions</h1>
<table class="table">
  <thead>
  <tr>
    <th>Prescription Date</th>
    <th>Prescription No</th>
    <th>Patient Name</th>
    <th>Issued By</th>
    <th>Ward Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @prescriptions&.each do |prescription| %>
    <% patient = Patient.find(prescription.patient_id) %>
    <% staff = Staff.find_by(userId: prescription.issuedBy) %>
    <% ward = Ward.find(patient.admissions.find_by(status: 'Admitted').ward_id) %>
    <tr>
      <td>
        <%= localize(prescription.date) %>
      </td>
      <td>
        <%= prescription.id %>
      </td>
      <td>
        <%= patient.person.firstName + ' ' + patient.person.lastName %>
      </td>
      <td>
        <%= staff.person.firstName + ' ' + staff.person.lastName %>
      </td>
      <td>
        <%= ward.name %>
      </td>
      <td>
        <%= link_to('View', prescription_path(prescription.id)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>