<h1 class="title-container">Prescriptions</h1>
<table class="table table-bordered table-striped" id="prescriptions_holder_index">
  <thead class="thead-light">
  <tr>
    <th>Prescription Date</th>
    <th>Prescription No</th>
    <th>Patient Name</th>
    <th>Issued By</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @prescriptions&.each do |prescription| %>
    <% patient = Patient.get_patient(prescription.diagnosis.patient.id) if prescription.diagnosis  %>
    <% staff = Staff.find_by(userId: prescription.issuedBy) %>
    <tr>
      <td><%= localize(prescription.date) %></td>
      <td><%= prescription.id %></td>
      <td><%= person_full_name_helper(patient) if patient %></td>
      <td><%= person_full_name_helper(staff) %></td>
      <td>
        <%= link_to('View', prescription_path(prescription.id), role: 'button', class: 'btn btn-primary') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% content_for(:navigationButtons) do %>
  <%= link_to('Prescribe Drug', new_diagnosis_path, class: 'btn btn-primary') if policy(:diagnoses).new? %>
  <%= button_tag('Print', onClick: "printJS({printable: 'prescriptions_holder_index', type: 'html', header: 'Diagnoses - #{localize(Date.today).to_s}'})", class: 'btn btn-secondary') %>
<% end %>