<p id="notice"><%= notice %></p>

<h1>Specialities</h1>

<% @page_title = 'Specialities' %>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Speciality</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% if @specialities || !@specialities&.empty? %>
    <% @specialities.each do |speciality| %>
      <tr>
        <td><%= speciality.speciality %></td>
        <td><%= link_to 'View', speciality %></td>
        <td><%= link_to 'Edit', edit_speciality_path(speciality) %></td>
        <!--<td><%# link_to 'Destroy', speciality, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2"><p>No specialities found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% content_for(:navigationButtons) do %>
  <%= link_to('New Speciality', new_speciality_path, class: 'btn btn-primary') if policy(:speciality).new? %>
<% end %>
