<div class="sidebar bg-dark ">
  <div class="sidebar-toggle-holder" style="padding: 18px;">
    <a class="sidebar-toggle text-light">
      <i class="fas fa-bars fa-2x"></i>
    </a>
  </div>
  <br/>
  <br/>
  <br/>
  <!--TODO do dropright when toggled with jquery-->
  <ul class="list-unstyled main-side-list">
    <li>
      <a href="/"><i class="fas fa-home fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>Home</label></a>
    </li>

    <li class="admission-side-menu">
      <a href="#submenu1" data-toggle="collapse"><i class="fas fa-address-card fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>
        Admission </label></a>
      <ul id="submenu1" class="list-unstyled collapse">
        <li><%= link_to('View All', admissions_path, class: 'admission-side-menu') %></li>
        <% if policy(:admission).new? %>
          <li><%= link_to('Admit Patient', new_admission_path) %></li>
        <% end %>
        <% if policy(:admission).find_and_discharge? %>
          <li><%= link_to('Find and Discharge', find_and_discharge_admissions_path) %></li>
        <% end %>

      </ul>
    </li>
    <li class="treatment-side-menu">
      <a href="#submenu2" data-toggle="collapse"><i class="fas fa-file-medical fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>
        Treatment </label></a>
      <ul id="submenu2" class="list-unstyled collapse">
        <li class="text-light">&nbsp;&nbsp;Diagnosis</li>
        <li><a href="/diagnoses">View All</a></li>
        <% if policy(:diagnoses).new? %>
          <li><a href="/diagnoses/new">Diagnose</a></li>
        <% end %>
        <li class="text-light">&nbsp;&nbsp;Drugs</li>
        <li><a href="/prescriptions">View all</a></li>
        <% if policy(:prescription).new? %>
          <li><a href="/prescriptions/new">Prescribe Drug</a></li>
        <% end %>
        <li class="text-light">&nbsp;&nbsp;Notes</li>
        <li><a href="/treatments">View All</a></li>
        <% if policy(:treatment).new? %>
          <li><a href="/treatments/new">Make Notes</a></li>
        <% end %>
      </ul>
    </li>
    <li class="patient-side-menu">
      <a href="#submenu3" data-toggle="collapse"><i class="fas fa-wheelchair fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>
        Patient </label></a>
      <ul id="submenu3" class="list-unstyled collapse">
        <li><%= link_to('View All', patients_path) %></li>
        <% if current_staff.medical_staff_admin? %>
          <li><%= link_to('Register Patient', new_patient_path) %></li>
        <% end %>
      </ul>
    </li>
    <li class="ward-side-menu">
      <a href="#submenu4" data-toggle="collapse"><i class="fas fa-bed fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>
        Ward </label></a>
      <ul id="submenu4" class="list-unstyled collapse">
        <li><%= link_to('View All', wards_path) %></li>
        <% if current_staff.medical_staff_admin? %>
          <li><%= link_to('Register Ward', new_ward_path) %></li>
        <% end %>
      </ul>
    </li>
    <li class="report-side-menu">
      <a href="#submenu5" data-toggle="collapse"><i class="fas fa-file-alt fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>
        Report </label></a>
      <ul id="submenu5" class="list-unstyled collapse">
        <li><%= link_to('Ward List', reports_ward_list_path) %></li>
        <li><%= link_to('Medications List', reports_medications_list_path) %></li>
        <li><%= link_to('Discharge List', reports_discharge_list_path) %></li>
        <li><%= link_to('Patient Card', reports_patient_card_path) %></li>
      </ul>
    </li>
    <% if current_staff.medical_staff_admin? %>
      <li class="h-admin-side-menu">
        <a href="#submenu6" data-toggle="collapse"><i class="fas fa-hospital fa-2x custom_width_1_3em"></i><label class='lbl-nav col-sm-auto'>
          Hospital Admin </label></a>
        <ul id="submenu6" class="list-unstyled collapse">
          <li><a href="/invoices">Invoice</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/staffs">Staff</a></li>
          <li><a href="/job_titles">Job Titles</a></li>
          <li><a href="/specialities">Specialities</a></li>
          <li><a href="/drugs">Drugs</a></li>
        </ul>
      </li>
    <% end %>

  </ul>
  <% if staff_signed_in? %>
    <ul class="list-unstyled float-end" style="  margin-bottom: 0px;  ">
      <li class="nav-item dropright">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
          <i class="fas fa-sign-out-alt fa-2x custom_width_1_3em"></i>
        </a>
        <div class="dropdown-menu col p-3" aria-haspopup="true" aria-expanded="false">
          <label class='font-weight-bold'> Logout now?</label>
          <div class="row">
            <div class="col-6">
              <%= link_to('Yes', destroy_staff_session_path, method: :delete, class: 'btn btn-secondary btn-sm', role: 'button') %>
            </div>
            <div class="col-6">
              <%= link_to('No', '#', class: 'btn btn-primary  btn-sm', role: 'button') %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
  <ul class="list-unstyled float-end" style="  margin-bottom: 0px;  ">
    <li class="nav-item dropright">
      <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
        <i class="fas fa-user-circle fa-2x custom_width_1_3em"></i>
        <label class='lbl-nav col-sm-auto'>
          <% if staff_signed_in? %>
            <%= person_full_name_helper(current_staff) %>
          <% else %>
            <%#	 In case someone got past other layouts %>
            <%= link_to('Sign in', new_staff_session_path) %>
          <% end %>
        </label>
        <% if staff_signed_in? %>
          <label class='lbl-nav col-sm-auto'><%= current_staff.role_name %></label>
        <% end %>
      </a>
      <% if staff_signed_in? %>
        <div class="dropdown-menu col-4  p-3" aria-haspopup="true" aria-expanded="false">
          <div class="row">
            <div class="col-6">
              <label class='text-light'>
                <%= link_to('Profile', staff_path(current_staff), class: 'btn btn-primary  btn-sm text-light', role: 'button') %>
              </label>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  </ul>
</div>