<div class="sidebar bg-dark">
  <div class="sidebar-toggle-holder" style="padding: 18px;">
    <a class="sidebar-toggle text-light">
      <i class="fas fa-bars fa-2x"></i>
    </a>
  </div>
  <br/>
  <br/>
  <br/>
  <ul class="list-unstyled">
    <li>
      <a href="#submenu1" data-toggle="collapse"><i class="fas fa-file-alt fa-2x"></i><label class='lbl-nav'>&nbsp; Report &nbsp; &nbsp; </label></a>
      <ul id="submenu1" class="list-unstyled collapse">
        <li><%= link_to('Ward List', reports_ward_list_path) %></li>
        <li><%= link_to('Medications List', reports_medications_list_path) %></li>
        <li><%= link_to('Discharge List', reports_discharge_list_path) %></li>
        <li><%= link_to('Patient Card', reports_patient_card_path) %></li>
      </ul>
    </li>
    <li>
      <a href="#submenu2" data-toggle="collapse"><i class="fas fa-address-card fa-2x"></i><label class='lbl-nav'>&nbsp; Admission &nbsp; &nbsp; </label></a>
      <ul id="submenu2" class="list-unstyled collapse">
        <li><%= link_to('View All', admissions_path) %></li>
        <li><%= link_to('Admit Patient', new_admission_path) %></li>
        <li><%= link_to('Find and Discharge', find_and_discharge_admissions_path) %></li>
      </ul>
    </li>
    <li>
      <a href="#submenu3" data-toggle="collapse"><i class="fas fa-file-medical fa-2x"></i><label class='lbl-nav'>&nbsp; Treatment &nbsp; &nbsp; </label></a>
      <ul id="submenu3" class="list-unstyled collapse">
        <li><a href="/treatments">View All</a></li>
        <li><a href="/treatments/new">Treat Patient</a></li>
      </ul>
    </li>
    <li>
      <a href="#submenu4" data-toggle="collapse"><i class="fas fa-pills fa-2x"></i><label class='lbl-nav'>&nbsp; Prescription &nbsp; &nbsp; </label></a>
      <ul id="submenu4" class="list-unstyled collapse">
        <li><a href="/prescriptions">View all</a></li>
        <li><a href="/prescriptions/new">Prescribe</a></li>
      </ul>
    </li>
    <li>
      <a href="#submenu5" data-toggle="collapse"><i class="fas fa-hospital fa-2x"></i><label class='lbl-nav'>&nbsp; Hospital Admin &nbsp; &nbsp; </label></a>
      <ul id="submenu5" class="list-unstyled collapse">
        <li><a href="/staffs">Staff</a></li>
        <li><a href="/patients">Patients</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/wards">Wards</a></li>
        <li><a href="/drugs">Drugs</a></li>
        <li><a href="/job_titles">Job Titles</a></li>
        <li><a href="/specialities">Specialities</a></li>
      </ul>
    </li>
    <li><a href="/"><i class="fas fa-home fa-2x"></i><label class='lbl-nav'>&nbsp; Home</label></a></li>
  </ul>
</div>