<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th><%= sort_link(@search, :ward_id, 'Ward No') %></th>
    <th>Ward Name</th>
    <th>Patient Name</th>
    <th><%= sort_link(@search, :admissionDate, 'Admission Date') %></th>
    <th><%= sort_link(@search, :dischargeDate, 'Discharge Date', default_order: :asc) %></th>
  </tr>
  </thead>
  <tbody>
  <% discharge_admissions = admissions.where(dischargeDate: Date.today).all %>
  <% if discharge_admissions && !discharge_admissions.empty? %>
    <% discharge_admissions.limit(5).each do |admission| %>
      <% patient = admission.patient %>
      <% ward = admission.ward %>
      <tr>
        <td><%= ward.wardNumber %></td>
        <td><%= ward.name %></td>
        <td><%= patient.person.firstName + ' ' + patient.person.lastName %></td>
        <td><%= admission.admissionDate ? localize(admission.admissionDate) : '--' %></td>
        <td><%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5"><p>No discharges found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>