<table class="table table-bordered table-striped" role="datatable">
  <thead class="thead-light">
  <tr>
    <th>Ward No</th>
    <th>Ward Name</th>
    <th>Patient Name</th>
    <th>Patient Address</th>
    <th>Patient DOB</th>
    <th>Home Telephone No</th>
    <th>Mobile Telephone No</th>
    <th>Date Admitted</th>
  </tr>
  </thead>
  <tbody>
  <% admissions.limit(5).each do |admission| %>
    <% patient = admission.patient %>
    <% ward = admission.ward %>
    <tr>
      <td><%= ward.wardNumber %></td>
      <td><%= ward.name %></td>
      <td><%= patient.person.firstName + ' ' + patient.person.lastName %></td>
      <td>
        <%= patient.person.address.houseNumber + ', ' + patient.person.address.street + ', ' +
                patient.person.address.town + ', ' + patient.person.address.postcode %>
      </td>
      <td><%= localize(patient.person.dateOfBirth) %></td>
      <td><%= patient.person.telHomeNo %></td>
      <td><%= patient.person.telMobileNo %></td>
      <td><%= admission.admissionDate ? localize(admission.admissionDate) : '--' %></td>
    </tr>
  <% end %>
  </tbody>
</table>