<div class="col-10" id="error_holder_patient_registration">
  <%= render('shared/errors', model: patient) %>
</div>
<table class="table borderless">
  <tbody>
  <tr>
    <td>
      <%# Get the attributes that belong to the person class %>
      <%= patient_form.fields_for(:person) do |person_fields| %>
        <%= render('shared/personal_detail_fields', person_fields: person_fields, patient: patient, disabled: disabled) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <fieldset class="none-bs-fieldset">
              <legend class="none-bs-legend">Medical Listing</legend>
              <table class="table">
                <tbody>
                <tr>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:diabetes, 'Diabetic') %><br/>
                      <%= patient_form.check_box(:diabetes, { disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:smokes, 'Smoker') %><br/>
                      <%= patient_form.check_box(:smokes, { disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:asthma, 'Asthmatic') %><br/>
                      <%= patient_form.check_box(:asthma, { disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:alcoholic) %><br/>
                      <%= patient_form.check_box(:alcoholic, {  disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-group">
                      <%= patient_form.label(:allergies) %><br/>
                      <%= patient_form.text_area(:allergies, class: 'form-control', disabled: disabled)%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-group">
                      <%= patient_form.label(:medicalTestsResults, 'Medical Results Tests') %><br/>
                      <%= patient_form.text_area(:medicalTestsResults, class: 'form-control', disabled: disabled) %>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </td>
          <td>
            <fieldset class="none-bs-fieldset">
              <legend class="none-bs-legend">Other Details</legend>
              <table class="table borderless">
                <tbody>
                <tr>
                  <td colspan="2">
                    <div class="form-group">
                      <%= patient_form.label(:nextOfKin, 'Next Of Kin') %><br/>
                      <%= patient_form.text_area(:nextOfKin, class: 'form-control', disabled: disabled) %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:occupation) %><br/>
                      <%= patient_form.text_field(:occupation, class: 'form-control',  disabled: disabled) %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:isPrivate, 'Is Private') %><br/>
                      <%= patient_form.check_box(:isPrivate, { id: 'patientIsPrivateCkb', disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <!--TODO write js/jquery for to check for -->
                      <%= patient_form.label(:email) %><br/>
                      <%= patient_form.email_field(:email, { disabled: (disabled if disabled) || !patient.isPrivate, class: 'form-control',
                                                              id: 'patientEmailFld', required: true }) %>
                    </div>
                  </td>
                <tr>
                  <td>
                    <div class="actions">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td>
                            <% if controller_name == 'patients' && !params.include?(:admission_register) %>
                              <%= link_to('Cancel', patients_path, { class: 'btn btn-secondary' }) %>
                            <% elsif controller_name == 'admissions' || params.include?(:admission_register) %>
                              <%# TODO rest patient on click, better option %>
                              <%= link_to('Cancel', new_admission_path, { class: 'btn btn-secondary', params: { rest_patient: true } }) %>
                            <% elsif controller_name == 'treatments' %>
                              <%= link_to('Cancel', new_treatment_path, { class: 'btn btn-secondary', params: { rest_patient: true } }) %>
                            <% elsif controller_name == 'prescriptions' %>
                              <%= link_to('Cancel', new_prescription_path, { class: 'btn btn-secondary', params: { rest_patient: true } }) %>
                            <% end %>
                          </td>
                          <td>  <%= patient_form.submit({ class: 'btn btn-primary', disabled: disabled }) if controller_name.eql?('patients') || controller_name.eql?('admissions') %></td>

                        </tr>
                        <tr>
                          <td colspan="2">
                            <div id="update_patient_message"></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>