<table class="table borderless">
  <tbody>
  <tr>
    <td>
      <%# Get the attributes that belong to the person class %>
      <%= patient_form.fields_for(:person) do |person_fields| %>
        <fieldset class="none-bs-fieldset">
          <legend class="none-bs-legend">Personal Details</legend>
          <table class="table">
            <tbody>
            <tr>
              <td>
                <div class="form-group">
                  <%= person_fields.label(:firstName, 'First name') %><br/>
                  <%= person_fields.text_field(:firstName, { autofocus: true, class: 'form-control', autocomplete: 'First Name', required: true, disabled: disabled }) %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= person_fields.label(:lastName, 'Last name') %><br/>
                  <%= person_fields.text_field(:lastName, class: 'form-control', autocomplete: 'lastName', required: true, disabled: disabled) %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= person_fields.label(:dateOfBirth, 'Date of birth') %><br/>
                  <%= person_fields.text_field(:dateOfBirth, { autocomplete: 'dateOfBirth', type: 'date', min: '1900-01-01', max: Date.today.to_s, required: true, class: 'form-control', disabled: disabled }) %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= person_fields.label(:gender) %><br/>
                  <%= person_fields.select(:gender, options_for_select([:Male, :Female], selected: patient.person.gender), { include_blank: 'Select gender' }, { class: 'form-control', autocomplete: 'lastName', required: true, disabled: disabled }) %>
                </div>
              </td>
            </tr>
            <tr>
              <%= person_fields.fields_for(:address) do |address_fields| %>
                <td>
                  <div class="form-group">
                    <%= address_fields.label(:houseNumber, 'House number') %><br/>
                    <%= address_fields.text_field(:houseNumber, { class: 'form-control', autocomplete: 'houseNumber', required: true, disabled: disabled }) %>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= address_fields.label :street %><br/>
                    <%= address_fields.text_field(:street, class: 'form-control', autocomplete: 'street', required: true, disabled: disabled) %>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= address_fields.label(:town) %><br/>
                    <%= address_fields.text_field(:town, class: 'form-control', autocomplete: 'town', required: true, disabled: disabled) %>

                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= address_fields.label(:postcode) %><br/>
                    <%= address_fields.text_field(:postcode, { class: 'form-control', autocomplete: 'postcode', required: true, disabled: disabled }) %>
                  </div>
                </td>
              <% end %>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <%= person_fields.label(:telHomeNo, 'Telephone number') %><br/>
                  <%= person_fields.text_field(:telHomeNo, type: 'number', class: 'form-control', autocomplete: 'telephoneNumber', required: true, disabled: disabled) %>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%= person_fields.label(:telMobileNo, 'Mobile number') %><br/>
                  <%= person_fields.text_field(:telMobileNo, type: 'number', class: 'form-control', autocomplete: 'mobileNumber', disabled: disabled) %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <fieldset class="none-bs-fieldset">
              <legend class="none-bs-legend">Medical Listing</legend>
              <table class="table">
                <tbody>
                <tr>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:diabetes, 'Diabetic') %><br/>
                      <%= patient_form.check_box(:diabetes, { autocomplete: 'diabetes', disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:smokes, 'Smoker') %><br/>
                      <%= patient_form.check_box(:smokes, { autocomplete: 'smokes', disabled: disabled }, 'true', 'false')
                      %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:asthma, 'Asthmatic') %><br/>
                      <%= patient_form.check_box(:asthma, { autocomplete: 'diabetic', disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:alcoholic) %><br/>
                      <%= patient_form.check_box(:alcoholic, { autocomplete: 'smokes', disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-group">
                      <%= patient_form.label(:allergies) %><br/>
                      <%= patient_form.text_area(:allergies, class: 'form-control', autocomplete: 'allergies', disabled: disabled) %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-group">
                      <%= patient_form.label(:medicalTestsResults, 'Medical Results Tests') %><br/>
                      <%= patient_form.text_area(:medicalTestsResults, class: 'form-control', autocomplete: 'medicalResultsTests', disabled: disabled) %>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </td>
          <td>
            <fieldset class="none-bs-fieldset">
              <legend class="none-bs-legend">Other Details</legend>
              <table class="table">
                <tbody>
                <tr>
                  <td colspan="2">
                    <div class="form-group">
                      <%= patient_form.label(:nextOfKin, 'Next Of Kin') %><br/>
                      <%= patient_form.text_area(:nextOfKin, autocomplete: 'smokes', class: 'form-control', required: true, disabled: disabled) %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:occupation, 'occupation') %><br/>
                      <%= patient_form.text_field(:occupation, class: 'form-control', autocomplete: 'occupation', disabled: disabled) %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <%= patient_form.label(:isPrivate, 'Is Private') %><br/>
                      <%= patient_form.check_box(:isPrivate, { autocomplete: 'isPrivate', id: 'patientIsPrivateCkb', disabled: disabled }, 'true', 'false') %>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <!--TODO write js/jquery for to check for -->
                      <%= patient_form.label(:email) %><br/>
                      <%= patient_form.email_field(:email, { disabled: (disabled if disabled) || !patient.isPrivate, class: 'form-control',
                                                             autocomplete: 'medicalResultsTests', id: 'patientEmailFld', required: true }) %>
                    </div>
                  </td>
                <tr>
                  <td>
                    <div class="actions">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td>
                            <% if controller_name == 'patients' %>
                              <%= link_to('Cancel', patients_path, { class: 'btn btn-secondary' }) %>
                            <% elsif controller_name == 'admissions' %>
                              <%# TODO rest patient on click, better option %>
                              <%= link_to('Cancel', new_admission_path, html: { class: 'btn btn-secondary' }, params: { rest_patient: true }) %>
                            <% elsif controller_name == 'treatments' %>
                              <%= link_to('Cancel', new_treatment_path, html: { class: 'btn btn-secondary' }, params: { rest_patient: true }) %>
                            <% elsif controller_name == 'prescriptions' %>
                              <%= link_to('Cancel', new_prescription_path, html: { class: 'btn btn-secondary' }, params: { rest_patient: true }) %>
                            <% end %>
                          </td>
                          <td>  <%= patient_form.submit({ class: 'btn btn-primary', disabled: disabled }) if controller_name.eql?('patients') || controller_name.eql?('admissions') %></td>

                        </tr>
                        <tr>
                          <td colspan="2">
                            <div id="update_patient_message"></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </fieldset>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>