<h1>Patient: <%= person_full_name_helper(@patient) %> </h1>
<% @page_title = 'Patient | Profile' %>

<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>ID No</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Home Telephone No</th>
    <th>Mobile Telephone No</th>
    <th>Register Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @patient.id %></td>
    <td><%= localize(@patient.person.dateOfBirth) %></td>
    <td><%= @patient.person.gender %></td>
    <td><%= @patient.person.full_address %> </td>
    <td><%= @patient.person.telHomeNo %></td>
    <td><%= @patient.person.telMobileNo %></td>
    <td><%= localize(@patient.created_at.to_date) %></td>
  </tr>
  </tbody>
</table>
<br/>
<br/>
<h3>Admission History</h3>
<br>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Admission Date</th>
    <th>Admission No</th>
    <th>Ward No</th>
    <th>Ward Name</th>
    <th>Discharge Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% if @patient.admissions.any? %>
    <% @patient.admissions.each do |admission| %>
      <tr>
        <td><%= localize(admission.admissionDate) %></td>
        <td><%= admission.id %></td>
        <td><%= admission.ward.wardNumber %></td>
        <td><%= admission.ward.name %></td>
        <td><%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %>      </td>
        <td><%= admission.status %></td>
        <td>
          <%= link_to('Discharge', discharge_admission_path(admission.id), data: { modal: true }, role: 'button', class: 'btn btn-secondary') if (admission.dischargeDate.nil? && policy(:admission).discharge?) %>
        </td>
      </tr>
      <tr class="">
        <td colspan="7">
          <br/>
          <h6>Diagnoses</h6>
          <table class="table table-bordered table-striped table-sm">
            <thead class="thead-light">
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if @patient.diagnoses.any? %>
              <% @patient.diagnoses&.each do |diagnosis| %>
                <tr>
                  <td><%= localize(diagnosis.created_at.to_date) %></td>
                  <td><%= diagnosis.title %></td>
                  <td><%= diagnosis.description %></td>
                  <td>
                    <%= link_to('View', diagnosis_path(diagnosis), role: 'button', class: 'btn btn-secondary') %>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <br/>
                    <p>Drug Prescriptions</p>
                    <table class="table table-bordered table-striped table-sm">
                      <thead class="thead-light">
                      <tr>
                        <th>Prescription Date</th>
                        <th>Prescription No</th>
                        <th>Issued By</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% if diagnosis.prescriptions.any? %>
                        <% diagnosis.prescriptions&.each do |prescription| %>
                          <% staff = Staff.find_by(userId: prescription.issuedBy) %>
                          <tr>
                            <td><%= localize(prescription.date) %></td>
                            <td><%= prescription.id %></td>
                            <td><%= person_full_name_helper(staff) %></td>
                            <td>
                              <%= link_to('View', prescription_path(prescription.id), role: 'button', class: 'btn btn-secondary') %>
                            </td>
                          </tr>
                        <% end %>
                      <% else %>
                        <tr>
                          <td colspan="4"><p>No drug prescriptions found.</p></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="4"><p>No diagnosis found.</p></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <br/>
          <h6>Notes</h6>
          <table class="table table-bordered table-striped table-sm">
            <thead class="thead-light">
            <tr>
              <th>Note Date</th>
              <th>Note No</th>
              <th>Issued By</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if @patient.treatments.any? %>

              <% @patient.treatments&.each do |treatment| %>
                <% staff = Staff.find_by(userId: treatment.issuedBy) %>
                <tr>
                  <td><%= localize(treatment.date) %> </td>
                  <td><%= treatment.id %></td>
                  <td><%= person_full_name_helper(staff) %></td>
                  <td>
                    <%= link_to('View', treatment_path(treatment.id), role: 'button', class: 'btn btn-secondary') %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="4"><p>No notes found.</p></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <br>
          <br>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="7"><p>No admission history found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= content_for(:navigationButtons) do %>
  <% session[:patients_show_back_url] = request.referrer unless session[:patients_show_back_url].nil? %>
  <%= link_to('Back', session[:patients_show_back_url], role: 'button', class: 'btn btn-primary') %>
<% end %>