<div class="card " id="login-card">
  <h4>Login to AllsWell Hospital</h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table borderless">
      <tbody>
      <tr>
        <td>
          <div class="form-group">
            <%= f.text_field(:userId, autofocus: true, placeholder: 'User ID', class: 'form-control') %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <%= f.password_field(:password, autocomplete: 'off', placeholder: :password, class: 'form-control') %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box(:remember_me, class: 'chj') %>
              <%= f.label(:remember_me) %>
            </div>
          <% end -%></td>
      </tr>
      <tr>
        <td><%= render("devise/shared/links") %></td>
        <td>
          <div class="actions">
            <%= f.submit('Log in', class: 'btn btn-primary') %>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div class="row" style="display: block;    position: absolute;    top: 35%;">
  <div class="col">
    <h3 class="text-light">Registered Test Staffs</h3>
    <p class="text-light">Try again with the same password if it not does not work first time.</p>
    <table class="table table-bordered table-striped table-hover" style="font-size: 0.8rem;">
      <thead class="thead-light">
      <tr>
        <th>UserId</th>
        <th>Password</th>
        <th>Active</th>
        <th>Speciality</th>
        <th>Job Title</th>
      </tr>
      </thead>
      <tbody>
      <%# & symbol used as safe navigation or exits if object is null %>
      <% all_staffs&.each do |staff| %>
        <tr>
          <td><%= staff.userId %></td>
          <td>password</td>
          <td><%= staff.active %></td>
          <% staff&.specialities.each do |speciality| %>
            <td><%= speciality.speciality %></td>
          <% end %>
          <% staff&.job_titles.each do |job_title| %>
            <td><%= job_title.title %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>