<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label(:userId, 'User ID') %><br/>
    <%= f.text_field(:userId, autofocus: true, autocomplete: 'userId') %>
  </div>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render("devise/shared/links") %>

<br/>
<fieldset>
  <legend>Registered Test Staffs</legend>
  <table class="table">
    <thead>
    <tr>
      <th>User Id</th>
      <th>Password</th>
      <th>Speciality</th>
      <th>Job Title</th>
    </tr>
    </thead>
    <tbody>
    <%# & symbol used as safe navigation or exits if object is null %>
    <% all_staffs&.each do |staff| %>
      <tr>
        <td><%= staff.userId %></td>
        <td>password</td>
        <% staff&.specialities.each do |speciality| %>
          <td>            <%= speciality.speciality %>          </td>
        <% end %>
        <% staff&.job_titles.each do |job_title| %>
          <td>            <%= job_title.title %>          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</fieldset>

