<br id="action">
<div class="row" id="action">
  <div class="col-1">
    <div class="btn-group mr-auto">
      <% disable_btn_export = admissions.nil? || admissions&.empty? ? 'disabled' : '' %>
      <%= link_to('Print', '#', onClick: "printJS({ printable: 'admission_list_holder', type: 'html', header: 'Admissions - #{localize(Date.today, format: :custom).to_s}', ignoreElements:['action']})",
                  class: "btn btn-outline-secondary #{disable_btn_export}", id: "action") %>
      <%= link_to('Export as Excel', admissions_path(format: :xlsx), { class: "btn btn-outline-secondary form-control #{disable_btn_export}",
                                                                       role: 'button', id: "action", params: { q: (params[:q] unless params[:q].blank?) } }) %>
    </div>
  </div>
</div>
<br>
<table class="table table-bordered table-striped" role="datatable">
  <thead class="thead-light">
  <tr>
    <th><%= sort_link(search, :admissionDate, 'Admission Date') %></th>
    <th><%= sort_link(search, :id, 'Admission No') %></th>
    <th>Patient Name</th>
    <th>Ward Number</th>
    <th>Ward Name</th>
    <th><%= sort_link(search, :dischargeDate, 'Discharge Date') %></th>
    <th><%= sort_link(search, :status, 'Status') %></th>
    <th colspan="4" id="action">Action</th>
  </tr>
  </thead>
  <tbody>
  <% if admissions && !admissions.empty? %>
    <% admissions&.each do |admission| %>
      <% patient = admission.patient %>
      <% ward = admission.ward %>
      <tr>
        <td><%= localize(admission.admissionDate) %></td>
        <td><%= admission.id %></td>
        <td><%= patient.person.firstName + ' ' + patient.person.lastName %></td>
        <td><%= ward.wardNumber %></td>
        <td><%= ward.name %></td>
        <td><%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %></td>
        <td>
          <span class="badge <%= admission_badge_class_helper(admission.status) %>"><%= admission.status.humanize %></span>
        </td>
        <td colspan="4" id="action">
          <table class="borderless">
            <tbody>
            <tr class="bg-transparent">
              <td style="padding-top: 0.1em;">
                <%= link_to('View', admission_path(admission), role: 'button',
                            class: 'btn btn-secondary  btn-sm') %>
              </td>

              <% if display_discharge?(admission) %>
                <td style="padding-top: 0.1em;">
                  <%#	 Displayed only the authorised staff (consultant/doctor) and discharge is not set/nil %>
                  <%= link_to('Discharge', discharge_admission_path(admission.id), data: { modal: true }, role: 'button',
                              class: 'btn btn-secondary  btn-sm') %>
                </td>
              <% end %>
              <% if admission.scheduled? && policy(:admission).admit_scheduled? %>

                <td style="padding-top: 0.1em;">
                  <%= link_to('Admit', admit_scheduled_admission_path(admission.id), data: { confirm: 'Admit now?' }, role: 'button',
                              class: 'btn btn-success  btn-sm', method: :patch) %>
                </td>
              <% end %>
              <% if admission.scheduled? && policy(:admission).cancel_scheduled? %>
                <td style="padding-top: 0.1em;">
                  <%= link_to('Cancel', cancel_scheduled_admission_path(admission.id), data: { title: 'Cancel Scheduled Admission', confirm: "Should this admission no. #{admission.id} be cancel?" },
                              role: 'button', class: 'btn btn-danger btn-sm', method: :delete) %>
                </td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="8">
        <p>Nothing found.</p>
        <%#	 Only display if it is filtered and there are admission in db  %>
        <% if !params[:q].blank? && !Admission.all.empty? %>
          <%= link_to('Show all', admissions_path, method: :get, remote: true, class: 'btn btn-primary') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

