<% if !admissions.empty? %>
  <table class="table table-bordered table-striped" role="datatable">
    <thead class="thead-light">
    <tr>
      <th>Admission Date</th>
      <th>Admission No</th>
      <th>Patient Name</th>
      <th>Ward Number</th>
      <th>Ward Name</th>
      <th>Discharge Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% admissions&.each do |admission| %>
      <% patient = admission.patient %>
      <% ward = admission.ward %>
      <tr>
        <td><%= localize(admission.admissionDate) %></td>
        <td><%= admission.id %></td>
        <td><%= patient.person.firstName + ' ' + patient.person.lastName %></td>
        <td><%= ward.wardNumber %></td>
        <td><%= ward.name %></td>
        <td><%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %></td>
        <td><%= admission.status %></td>
        <td>
          <%= link_to('Discharge', discharge_admission_path(admission.id), data: { modal: true }, role: 'button', class: 'btn btn-secondary') if (admission.dischargeDate.nil? || admission.status.eql?('admitted')) && policy(:admission).discharge? %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing found.</p>
  <%= link_to('Show all', admissions_path, method: :get, remote: true) %>
<% end %>