<%# Local disables remote/ajax request so it reload the page %>
<%= form_with(url: new_admission_path, method: :get, local: true, validate: true, html: { class: 'validations' }) do |form| %>
  <table class="table borderless">
    <tbody>
    <tr>
      <td>
        <div class="form-group">
          <label>Date of Birth</label><br/>
          <%# TODO add date range, to all date types %>
          <%= form.text_field(:dateOfBirth, type: 'date', min: '1900-01-01', max: Date.today.to_s, required: true, class: 'form-control') %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label>Last name</label><br/>
          <%= form.text_field(:lastName, required: true, class: 'form-control') %><br/>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= link_to('Register Patient', new_patient_path(admission_register: true), { role: 'button', class: 'btn btn-secondary' }) %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= form.submit('Find', class: 'btn btn-primary', id: 'find_registered_patient_submit', data: { disable_with: false }) %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>