<%= form_with(model: admission, validate: true) do |admission_form| %>
  <%= admission_form.hidden_field(:patient_id, value: patient.id) %>
  <%= admission_form.hidden_field(:admissionDate, value: Time.now.to_s) %>
  <table class="table">
    <tbody>
    <tr>
      <td>

        <div class="form-group">
          <%= admission_form.label(:currentMedications, 'Current Medications') %><br/>
          <%= admission_form.text_area(:currentMedications, autocomplete: 'currentMedications') %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= admission_form.label(:admissionNote, 'Admission Note') %><br/>
          <%= admission_form.text_area(:admissionNote, autocomplete: 'admissionNote') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= admission_form.label(:ward_id, 'Ward') %><br/>
          <%= admission_form.select(:ward_id, ward_options('admission', patient.person.gender), { include_blank: 'Select ward for allocation' }, { id: 'ward_id_select', autocomplete: 'ward_id' }) %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= admission_form.label(:team_id, 'Caring Team') %><br/>
          <%= admission_form.select(:team_id, ['blank'], { include_blank: 'Select ward first...' }, { id: 'team_id_select', autocomplete: 'team_id', disabled: true }) %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= admission_form.label(:admissionDate, 'Date') %><br/>
          <%= admission_form.label(:admissionDate, localize(Time.now)) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('Cancel', admission, class: 'btn btn-primary') %>
      </td>
      <td>
        <div class="form-group">
          <%= admission_form.submit(class: 'btn btn-primary') %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>