<%= form_with(model: admission, validate: true) do |admission_form| %>
  <%= admission_form.hidden_field(:patient_id, value: patient.id) %>
  <%# admission_form.hidden_field(:admissionDate, value: Time.now.to_s) %>
  <div class="col-10" id="error_holder_admissions">
    <%= render('shared/errors', model: @admission) %>
  </div>

  <table class="table borderless">
    <tbody>
    <tr>
      <td>
        <div class="form-group">
          <%= admission_form.label(:currentMedications, 'Current Medications') %><br/>
          <%= admission_form.text_area(:currentMedications, autocomplete: 'currentMedications', class: 'form-control') %>
        </div>
      </td>
      <td colspan="2">
        <div class="form-group">
          <%= admission_form.label(:admissionNote, 'Admission Note') %><br/>
          <%= admission_form.text_area(:admissionNote, autocomplete: 'admissionNote', class: 'form-control') %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= admission_form.label(:ward_id, 'Ward') %><br/>
          <%= admission_form.select(:ward_id, options_for_select(wards_option('admission', patient), @admission.ward),
                                    { include_blank: 'Select ward for allocation' }, { id: 'ward_id_select', autocomplete: 'ward_id',
                                                                                       class: 'form-control', required: true }) %>
        </div>
      </td>
      <td>
        <div class="form-group">
          <%= admission_form.label(:admissionDate, 'Date') %><br/>
          <%= admission_form.text_field(:admissionDate, type: 'datetime-local', class: 'form-control', required: true,
                                        min: Time.now.to_s, max: Date.new(Date.current.year, -1, -1).to_s) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('Cancel', admission, class: 'btn btn-secondary') %>
      </td>
      <td>
        <div class="form-group">
          <%= admission_form.submit(class: 'btn btn-primary') %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>