<%# Rails Modal %>
<% content_for :title, 'Authorise Discharge' %>
<%= form_with(model: @admission, url: authorise_discharge_admission_path, method: :post, html: { data: { modal: true } }) do |admission_discharge_form| %>
  <% patient = @admission.patient %>
  <table class="table borderless">
    <tbody>
    <tr>
      <td>Admission No. <%= @admission.id %></td>
      <td>Patient Name:  <%= patient.person.firstName + ' ' + patient.person.lastName %></td>
    </tr>
    <tr>
      <td>
        <%= admission_discharge_form.label(:dischargeDate,) %><br/>
        <%= admission_discharge_form.datetime_field(:dischargeDate, min: @admission.admissionDate.to_date.to_s, max: Date.today.to_s, required: true, class: 'form-control') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to('Discharge Now', admission_path(@admission.id), method: :delete, class: 'btn btn-secondary', role: 'button') %>
      </td>
      <td>
        <%= admission_discharge_form.submit('Authorise Discharge', class: 'btn btn-primary') %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>