<h1>Admissions</h1>

<%= search_form_for(@search, url: admissions_path, method: :get) do |filter_form| %>
  <div style="width: 50% !important;">
    <fieldset class="none-bs-fieldset">
      <table class="table borderless">
        <tbody>
        <tr>
          <td>
            <label>Admitted After</label><br/>
            <%= filter_form.text_field(:admissionDate_gteq, { value: params.dig(:q, :admissionDate_gteq), type: 'date', min: '2000-05-11', max: Date.today.to_s, id: 'filter_admission_by_date', class: 'form-control' }) %>
          </td>
          <td>
            <label>Status</label><br/>
            <%= filter_form.select(:status_eq, options_for_select(['Scheduled', 'Admitted', 'Discharged'], params.dig(:q, :status_eq)), { id: 'filter_admission_by_status', include_blank: 'All' }, class: 'form-control') %>
          </td>
          <td style="padding-top: 1.2em;">
            <br/>
            <%= filter_form.submit('Filter', class: 'btn btn-secondary', id: 'enable_form_submit', data: { disable_with: false }) %>
          </td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
<% end %>

<br/>
<div class="row">
  <div class="col-1">
    <div class="btn-group mr-3">
      <%= button_tag('Print', class: 'btn btn-outline-secondary mr-3 ', onClick: "printJS({ printable: 'admission_list_holder', type: 'html', header: 'Admission List - #{Date.today.to_s}'})") %>
    </div>
  </div>
</div>
<br/>

<div id="admission_list_holder">
  <% if @admissions %>
    <%= render('admissions/admissions_list', admissions: @admissions) %>
  <% else %>
    <p>Nothing found.</p>
    <%= link_to('Show all', admissions_path, method: :get, remote: true) %>
  <% end %>
</div>

