<h1>Admissions</h1>
<table class="table table-bordered table-striped" role="datatable">
  <thead class="thead-light">
  <tr>
    <th>Admission Date</th>
    <th>Admission No</th>
    <th>Patient Name</th>
    <th>Ward Number</th>
    <th>Ward Name</th>
    <th>Discharge Date</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @admissions.each do |admission| %>
    <% patient = Patient.find(admission.patient_id) %>
    <% ward = Ward.find(admission.ward_id) %>
    <tr>
      <td>
        <%= localize(admission.admissionDate) %>
      </td>
      <td>
        <%= admission.id %>
      </td>
      <td>
        <%= patient.person.firstName + ' ' + patient.person.lastName %>
      </td>
      <td>
        <%= ward.wardNumber %>
      </td>
      <td>
        <%= ward.name %>
      </td>
      <td>
        <%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %>
      </td>
      <td>
        <%= admission.status %>
      </td>
      <td>
        <%= link_to('Discharge', discharge_admission_path(admission.id), data: { modal: true }) if admission.dischargeDate.nil? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>