<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Ward No</th>
    <th>Ward Name</th>
    <th>Patient Name</th>
    <th>Admission Date</th>
    <th>Discharge Date</th>
  </tr>
  </thead>
  <tbody>
  <% if @admissions %>
    <% @admissions.each do |admission| %>
      <% ward = admission.ward %>
      <tr>
        <td><%= ward.wardNumber %></td>
        <td><%= ward.name %></td>
        <td><%= person_full_name_helper(admission.patient) %></td>
        <td><%= admission.admissionDate ? localize(admission.admissionDate) : '--' %></td>
        <td><%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5"><p>No patients due to discharge found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>