<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th><%= sort_link(@search, :ward_id, 'Ward No') %></th>
    <th>Ward Name</th>
    <th>Patient Name</th>
    <th><%= sort_link(@search, :admissionDate, 'Admission Date') %></th>
    <th><%= sort_link(@search, :dischargeDate, 'Discharge Date', default_order: :asc) %></th>
  </tr>
  </thead>
  <tbody>
  <% if @admissions && !@admissions&.empty?  %>
    <% @admissions.each do |admission| %>
      <% ward = admission.ward %>
      <tr>
        <td><%= ward.wardNumber %></td>
        <td><%= ward.name %></td>
        <td><%= person_full_name_helper(admission.patient) %></td>
        <td><%= admission.admissionDate ? localize(admission.admissionDate) : '--' %></td>
        <td><%= admission.dischargeDate ? localize(admission.dischargeDate) : '--' %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5"><p>Nothing found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>