<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Ward No</th>
    <th>Ward Name</th>
    <th>Patient Name</th>
    <th>Drug Name</th>
    <th>Dosage</th>
    <th>Length of Treatment</th>
  </tr>
  </thead>
  <tbody>
  <% admissions.each do |admission| %>
    <% patient = admission.patient %>
    <% ward = admission.ward %>
    <% prescriptions = patient.prescriptions.limit(3) %>
    <tr>
      <td><%= ward.wardNumber %></td>
      <td><%= ward.name %></td>
      <td><%= person_full_name_helper(patient) %></td>
      <% if !(prescriptions.empty? || prescriptions.nil?) %>
        <% prescriptions&.each_with_index do |prescription, index| %>
          <% if index >= 1 %>
          <tr>
            <td colspan="3">
              <p>Drug prescription <%= index + 1 %></p>
              <%= render('home/prescription_drugs_fields', prescription: prescription) %>
            </td>
          </tr>
        <% else %>
          <%= render('home/prescription_drugs_fields', prescription: prescription) %>
        <% end %>
      <% end %>
    <% else %>
      <td colspan="3"><p>No prescriptions found.</p></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>