<table class="table table-bordered table-striped">
  <tbody>
  <thead class="thead-light">
  <tr>
    <th>Patient No</th>
    <th>Patient Name</th>
    <th>Ward No</th>
    <th colspan="2">Ward Name</th>
  </tr>
  </thead>
  <tbody>
  <% if admission && !admission.blank? %>
    <% patient = admission.patient %>
    <% ward = admission.ward %>
    <% prescriptions = patient&.prescriptions %>
    <tr>
      <td><%= patient.id %></td>
      <td><%= person_full_name_helper(patient) %></td>
      <td><%= ward.wardNumber %></td>
      <td colspan="2"><%= ward.name %></td>
    </tr>
    <tr>
      <td colspan="5">
    <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Drug Code</th>
      <th>Drug Name</th>
      <th>Dosage</th>
      <th>Length of Treatment</th>
    </tr>
    </thead>
    <tbody>
    <% if prescriptions %>
      <% prescriptions&.each_with_index do |prescription, index| %>
        <% if index >= 1 %>
          <tr>
            <%= render('prescription_drugs_all_fields', prescription: prescription) %>
          </tr>
        <% else %>
          <tr>
            <%= render('prescription_drugs_all_fields', prescription: prescription) %>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <td colspan="3"><p>No medications found.</p></td>
    <% end %>
    </tbody>
    </td>
    </tr>
  <% else %>
    <tr>
      <td colspan="8"><p>Nothing found.</p></td>
    </tr>
  <% end %>
  </tbody>
  </table>
