<table class="table table-bordered table-striped" role="datatable">
  <thead class="thead-light">
  <tr>
    <%#	 binding.pry %>
    <th><%= sort_link(@search, :ward_id, 'Ward No') %></th>
    <th>Ward Name</th>
    <th>Patient Name</th>
    <th>Patient Address</th>
    <th>Patient DOB</th>
    <th>Home Telephone No</th>
    <th>Mobile Telephone No</th>
    <th><%= sort_link(@search, :admissionDate, 'Date Admitted', default_order: :asc) %></th>
  </tr>
  </thead>
  <tbody>
  <% if admissions %>
    <% admissions.each do |admission| %>
      <% patient = admission.patient %>
      <% ward = admission.ward %>
      <tr>
        <td><%= ward.wardNumber %></td>
        <td><%= ward.name %></td>
        <td><%= person_full_name_helper(patient) %></td>
        <td>
          <%= patient.person.address.houseNumber + ', ' + patient.person.address.street + ', ' +
                  patient.person.address.town + ', ' + patient.person.address.postcode %>
        </td>
        <td><%= localize(patient.person.dateOfBirth) %></td>
        <td><%= patient.person.telHomeNo %></td>
        <td><%= patient.person.telMobileNo %></td>
        <td><%= admission.admissionDate ? localize(admission.admissionDate) : '--' %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="8"><p>Nothing found.</p></td>
    </tr>
  <% end %>
  </tbody>
</table>