<h1>Patient Card</h1>

<%= search_form_for(@search, url: reports_patient_card_path, method: :get) do |ward_report_form| %>
  <div class="form-group" style="width: 50% !important;">
    <fieldset class="none-bs-fieldset">
      <legend class="none-bs-legend">Produce Report</legend>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <label>Ward</label><br/>
              <%= ward_report_form.select(:ward_id_eq, options_for_select(ward_options, params.dig(:q, :ward_id_eq)),
                                          { include_blank: 'Select ward', id: 'ward_id' }, class: 'form-control') %>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col">
            <div class="row">
              <label>Patient</label><br/>
              <%= ward_report_form.select(:patient_id_eq, options_for_select(patients_option, params.dig(:q, :patient_id_eq)),
                                          { include_blank: 'Select ward', id: 'ward_id' }, class: 'form-control') %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <%= ward_report_form.submit('Search', class: 'btn btn-primary float-right', id: 'enable_form_submit',
                                        data: { disable_with: false }) %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
<% end %>
&nbsp;&nbsp;<br/>
<div class="row">
  <div class="col-1">
    <div class="btn-group mr-auto">
      <% disable_btn_export = @admissions.nil? || @admissions&.empty? ? 'disabled' : '' %>
      <%= button_tag('Print', class: "btn btn-outline-secondary #{disable_btn_export}", onClick: "printJS({ printable: 'patient_card_holder', type: 'html', header: 'Patient Card - #{
      (
      if !(@admission&.empty? || @admission.nil?)
        (concat(@admission&.patient&.person&.firstName + ' ' + @admission&.patient&.person&.lastName))
      else
        ''
      end) + ', ' + localize(Date.today).to_s}'})   ") %>

      <%= link_to('Export as Excel', reports_ward_list_path(format: :xls), { class: "btn btn-outline-secondary form-control disabled",
                                                                             role: 'button' }) %> </div>
  </div>
</div>
<br/>
<div id="patient_card_holder">
  <% if !@admission.nil? && !@admission&.blank? %>
    <%= render('patient_card', admission: @admission) %>
  <% elsif @admission&.blank? %>
    <tr>
      <td colspan="8"><p>No admissions found from this filter.</p></td>
    </tr>
  <% end %>
</div>
