<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Ward List">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Ward No</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Ward Name</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Patient Name</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Patient Address</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Patient DOB</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Home Telephone No</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Mobile Telephone No</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Date Admitted</Data>
        </Cell>
      </Row>
      <% @admissions.each do |admission| %>
        <% patient = admission.patient %>
        <% ward = admission.ward %>
        <Row>
          <Cell>
            <Data ss:Type="Number"><%= ward.wardNumber %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= ward.name %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= patient.person.firstName + ' ' + patient.person.lastName %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String">
              <%= patient.person.address.houseNumber + ', ' + patient.person.address.street + ', ' +
                      patient.person.address.town + ', ' + patient.person.address.postcode %>
            </Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= localize(patient.person.dateOfBirth) %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= patient.person.telHomeNo %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= patient.person.telMobileNo %></Data>
          </Cell>
          <Cell>
            <Data ss:Type="String"><%= admission.admissionDate ? localize(admission.admissionDate) : '--' %></Data>
          </Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>