<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %> </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="body">
<header class="">
</header>


<section class="d-flex align-items-stretch">
  <%= render('shared/side_nav') %>
  <section class="nav-and-content">
    <div class="top-nav">
      <%= render('shared/top_nav') %>
    </div>
    <div class="content p-4">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </section>
</section>
</body>
</html>
