<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %> </title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('awh_favicon.ico'), :rel => 'icon', :type =>  'image/png' %>

  <%# Used for keeping track of current controller and action names in the client side code
   for page specific javascripts (psj) %>
  <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
        integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body class="body">
<section class="d-flex align-items-stretch">
  <%= render('shared/side_nav') %>
  <section class="nav-and-content">
    <div class="top-nav">
      <%= render('shared/top_nav') %>
    </div>
    <div class="content p-4">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="alert <%= alert_class_helper(key) %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </section>
</section>
<div id="modal-holder"></div>
</body>
</html>
