<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %> </title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('awh_favicon.ico'), :rel => 'icon', :type =>  'image/png' %>

  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<header class="container-fluid">
</header>
<div class="top-stripe"></div>
<section class="container-fluid">
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>
</section>
<footer class="text-center fixed-bottom">
  <p>Copyright © 2018 AllsWell Hospital. All rights reserved.</p>
</footer>
</body>
</html>
